body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-info {
  padding: 50px;
  margin: 6px;
}

.row-about{
  padding: 30px;
  margin: 6px;
}

.col-about {
  padding: 5px;
  margin: 5px;
}

.row-education {
  padding: 30px;
  margin: 6px;
}

.col-education{
  padding: 5px;
  margin: 5px;
}

.doc-pdf {
  height: 100%;
  width: 100%;
}



